In [3]:
a = ['sam' , 45 , 'mohit' , 98.56]
print(a[1])
#slicing [start_value:last_value+1]
print(a[0:])
print(a[:])
print(a[1:3])
print(a[:3])

45
['sam', 45, 'mohit', 98.56]
['sam', 45, 'mohit', 98.56]
[45, 'mohit']
['sam', 45, 'mohit']

In [5]:
a = ['sam' , 45 , 'mohit' , 98.56]
print(a)
print(a[1])
a[1] = 60
print(a)

['sam', 45, 'mohit', 98.56]
45
['sam', 60, 'mohit', 98.56]

In [7]:
a = ['sam' , 45 , 'mohit' , 98.56]
for i in a:
  print(i)

sam
45
mohit
98.56

In [11]:
a = ['sam' , 45 , 'mohit' , 98.56]
for i in range (len(a)):
  print(a[i])

sam
45
mohit
98.56

In [13]:
a = [10,20,30,40,50]
b = max(a)
print("max number is =" , b)

max number is = 50

In [14]:
a = ["ram" , "shyam"]
b = max(a)
print(b)

shyam

In [16]:
a = [10,20,30,40,50]
b = min(a)
print("minimum number is =" , b)

minimum number is = 10

In [18]:
a = ["ram" , "shyam"]
b = min(a)
print(b)

ram

In [20]:
a = ['sam' , 98 , 'mohit' , 78.43]
print(a)
a.append("preeti")
print(a)

['sam', 98, 'mohit', 78.43]
['sam', 98, 'mohit', 78.43, 'preeti']

In [25]:
a = []
for i in range(4):
    x = input("enter your items:")
    a.append(x)
print(a)

enter your items:sam
enter your items:neeraj
enter your items:dayer
enter your items:yogesh
['sam', 'neeraj', 'dayer', 'yogesh']

In [26]:
a = ['neeraj', 89, 'dayer', 89, 'yogesh', 89]
x = a.count(89)
print("total frequencey is =" , x)

total frequencey is = 3

In [30]:
a = []
for i in range(4):
   x = input("enter item: ")
   a.append(x)
print(a)
y = input("enter your item whose frequencey you want:")
f = a.count(y)
print("total frequencey is=", f)

enter item: d
enter item: t
enter item: h
enter item:
['d', 't', 'h', '']
enter your item whose frequencey you want:'
total frequencey is= 0

In [34]:
a = ['sam', 90, 'rahul', 'kriti', 'piyush', 'kriti']
x = a.index('piyush')
print("index of piyush = ", x)

index of piyush =  4

In [36]:
a = [5, 'neeraj', 'dayer']
print(a)
a.insert(1 , "yogesh")
print(a)

[5, 'neeraj', 'dayer']
[5, 'yogesh', 'neeraj', 'dayer']

In [38]:
a = [5, 'neeraj', 'yogesh', 'kriti', 'dayer']
print(a)
a.remove('kriti')
print(a)

[5, 'neeraj', 'yogesh', 'kriti', 'dayer']
[5, 'neeraj', 'yogesh', 'dayer']

In [40]:
a = [5, 'sam', 'kriti']
a.reverse()
print(a)

['kriti', 'sam', 5]

In [43]:
a = [5, 'sam', 'kriti']
a.pop()
print(a)
a.pop()
print(a)
a.pop()
print(a)

[5, 'sam']
[5]
[]