In [2]:
# Question - program to find sum of elements in a list ?
a = []
size = int(input("enter size:"))
for  i in range(size):
    val = int(input("enter number"))
    a.append(val)
print(a)
sum = 0
for i in range(size):
    sum = sum + a[i]
print("sum of list elements = ", sum)

enter size:3
enter number2
enter number5
enter number7
[2, 5, 7]
sum of list elements =  14

In [11]:
# Question - Write a program who count total number of odd and total number of even in the list ?
a = []
size = int(input("enter number:"))
for i in range(size):
  val = int(input("enter number:"))
  a.append(val)
print(a)
odd = 0
even = 0
for i in range(size):
    if(a[i]%2 == 0):
         even = even + 1
    else:
        odd = odd + 1
print("total even =", even , "total odd = ", odd)

enter number:3
enter number:5
enter number:6
enter number:8
[5, 6, 8]
total even = 2 total odd =  1

In [13]:
# Question - Write a program who find maximum number in the list ?
a = []
size = int(input("enter size:"))
for i in range(size):
  val = int(input("enter number:"))
  a.append(val)
print(a)
max = a[0]
for i in range(size):
   if(a[i]>max):
    max = a[i]
print("maximum number is = ", max)

enter size:2
enter number:34
enter number:45
[34, 45]
maximum number is =  45

In [16]:
# Question - Write a program who find minimum number in the list ?
a = []
size = int(input("enter size:"))
for i in range(size):
  val = int(input("enter number:"))
  a.append(val)
print(a)
min = a[0]
for i in range(size):
   if(a[i]<min):
    min = a[i]
print("minimum number is = ", min)

enter size:2
enter number:34
enter number:45
[34, 45]
minimum number is =  34

In [20]:
# Tuple>> A tuple is a collection of item which is order and unchangable . Tuple identification is = (). Indexing start from 0 and length start from 1.
#a = (34 , 'sam' , 89.60, 'mohit')

#Question - Convert this >>
#(34 , 'sam' , 89.60, 'mohit') ==> (34 , 'sam' , 'rubi', 'mohit')

a = (34 , 'sam' , 89.60, 'mohit')
#  a[2] = "rubi"
#  print(a)
b = list(a)
print(b)
b[2] = "rubi"
print(b)
c = tuple(b)
print(c)

[34, 'sam', 89.6, 'mohit']
[34, 'sam', 'rubi', 'mohit']
(34, 'sam', 'rubi', 'mohit')

In [24]:
# Creating tuple  from Existing Sequences
a = tuple('world')
print(a)


# Traversing Tuple
# a = (1,2,3,4)

a = (1, "sam", 67.90, "mohit")

# method - 1
for i in a :
  print(i)
  #print(i, end = "")

('w', 'o', 'r', 'l', 'd')
1
sam
67.9
mohit

In [27]:
# Creating tuple  from Existing Sequences
a = tuple('world')
print(a)


# Traversing Tuple
# a = (1,2,3,4)

a = (1, "sam", 67.90, "mohit")

# method - 2
for i in range(len(a)):
  print(a[i])

('w', 'o', 'r', 'l', 'd')
1
sam
67.9
mohit

In [29]:
#  joinig tuple
a = (1,2,3,4)
b = (5,6,7)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6, 7)

In [31]:
# Repeating or Replicating tuple
a = (1,2,3)
b = a*3
print(b)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [32]:
# Slicing in tuple
a = (10,20,30,40,50,60,70)
b = a[3:5]
print(b)

b = a[0:5:2]
print(b)

(40, 50)
(10, 30, 50)